#notesContainer {
    -fx-padding: 5px;
    -fx-background-color: #333333;
    -fx-text-fill: #F0F0F0;
}

#notesList {
    -fx-background-color: #444444;
    -fx-text-fill: #F0F0F0;
}

#addNoteButton, #removeNoteButton, #refreshNotesButton {
}

#noteTitle {
    -fx-background-color: #4A4A4A;
    -fx-text-fill: #FFFFFF;
    -fx-prompt-text-fill: #D0D0D0;
}

#noteCollectionDropdown, #flagDropdown, #collectionDropdown {
    -fx-background-color: #4A4A4A;
    -fx-border-color: #6A6A6A;
    -fx-border-width: 0.5px;
    -fx-text-fill: #F0F0F0;
}

#noteDisplay {
    -fx-background-color: #333333;
    -fx-text-fill: #F0F0F0;
}

#markdownPreview {
    -fx-background-color: #333333;
    -fx-text-fill: #F0F0F0;
}

#markdownContent {
    -fx-padding: 10px;
    -fx-background-color: #444444;
    -fx-text-fill: #F0F0F0;
}

HBox[top] {
    -fx-background-color: #292929;
}

#searchBar {
    -fx-background-color: #444444;
    -fx-text-fill: #FFFFFF;
    -fx-prompt-text-fill: #D0D0D0;
    -fx-padding: 5px;
}

Label, TextField, TextArea, ComboBox {
    -fx-font-family: "System";
}

#collectionListView {
    -fx-background-color: #444444;
    -fx-text-fill: #F0F0F0;
}

#addCollectionButton, #deleteCollectionButton, #refreshCollectionsButton {
}

#collectionTitleField, #collectionServerField, #userFriendlyNameField {
    -fx-background-color: #3A3A3A;
    -fx-text-fill: #FFFFFF;
}

#statusLabel {
    -fx-text-fill: #F0F0F0;
}

HBox {
    -fx-background-color: #292929;
}

Label {
    -fx-font-family: "System Bold";
    -fx-text-fill: #F0F0F0;
}

Button {
    -fx-font-family: "System Bold";
}

.moon-icon {
    -fx-icon-size: 18px;
    -fx-fill: #ffffff;
}

.button-icon {
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-padding: 5px;
}
