.combo-box {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #cccccc;
}

.combo-box .list-cell {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: black;
}

.combo-box .list-cell:hover {
    -fx-background-color: #d9d9d9;
}

.combo-box-popup {
    -fx-background-color: #f0f0f0;
}

#notesContainer {
    -fx-padding: 5px;
    -fx-background-color: #CCD5AE;
    -fx-text-fill: #333333;
}

#notesList {
    -fx-background-color: #E0E5B6;
    -fx-text-fill: #333333;
}

#addNoteButton, #removeNoteButton, #refreshNotesButton {
}

#noteTitle {
    -fx-background-color: #e2e4d0;
    -fx-text-fill: #211f1f;
}

#noteCollectionDropdown, #flagDropdown, #collectionDropdown {
    -fx-background-color: #f6f3f3;
    -fx-border-color: #000000;
    -fx-border-width: 0.5px;
}

#noteDisplay {
    -fx-background-color: #CCD5AE;
    -fx-text-fill: #333333;
}

#markdownPreview {
    -fx-background-color: #CCD5AE;
    -fx-text-fill: #333333;
}

#markdownContent {
    -fx-padding: 10px;
    -fx-background-color: #E0E5B6;
    -fx-text-fill: #333333;
}

HBox[top] {
    -fx-background-color: #FEFAE0;
}

#searchBar {
    -fx-background-color: #F2EED5;
    -fx-text-fill: #333333;
    -fx-padding: 5px;
}

#collectionListView {
    -fx-background-color: #E0E5B6;
    -fx-text-fill: #333333;
}

#addCollectionButton, #deleteCollectionButton, #refreshCollectionsButton {
}

#collectionTitleField, #collectionServerField, #userFriendlyNameField {
    -fx-background-color: #F2F2F2;
    -fx-text-fill: #333333;
}

#statusLabel {
    -fx-text-fill: #333333;
}

HBox {
    -fx-background-color: #FEFAE0;
}

Label {
    -fx-font-family: "System Bold";
}

Button {
    -fx-font-family: "System Bold";
}

.moon-icon {
    -fx-icon-size: 18px;
    -fx-fill: #ffffff;
}

.button-icon {
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-padding: 5px;
}
